{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>منطقة تجنيد وتعبئة الزقازيق::منظومة الفاكسات::</title>
    <link rel="stylesheet" href="{% static 'faxat/bootstrap-4.3.1-dist/css/bootstrap.min.css' %}" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
      <script src= "{% static 'faxat/jquery-3.4.1.min.js' %}"></script>
      <script src="{% static 'faxat/push.js' %}"></script>
      <script src="{% static 'faxat/refresh.js' %}"></script>
      <link rel="stylesheet" href="{% static 'faxat/style.css' %}" >

  </head>
<body>

    <nav class="navbar navbar-dark bg-dark" style="direction:rtl">
        <h4 style="direction:rtl" class="text-center text-light">وزارة الدفاع <br> هيئة التنظيم والادارة <br> ادارة التجنيد و التعبئة</h4>
        <h4 style="direction:ltr" class="text-center text-light">منطقة تجنيد وتعبئة الزقازيق <br> فرع النظم <br> منظومةالفاكسات الجديدة</h4>
    </nav>

    <div class="container jumbotron my-3">
        <h4>
            <ol>
                <li><a href="{%static 'faxat/get_updates.mp4' %}" class="text-danger">كيفية الحصول على اخر تحديثات المنظومة </a></li>
              <li> <a href="{%static 'faxat/notifications.mp4' %}"> تفعيل جرس التبيهات للرسائل الواردة و الفاكسات من متصفح  فير فوكس fire fox</a> </li>
              <li><a href="{%static 'faxat/search_archef_faxat.mp4' %}" > أهمية ارشيف الفاكسات وكيفية الوصول الى الفاكس سواء فاكس وارد للفرع او صادر من الفرع الى اى جهة بالقوات المسلحة</a></li>

              <li><a href="{%static 'faxat/chat_system.mp4' %}">نظام المحادثة الداخلية وكيفية متابعة الفاكسات و الرد عليها </a></li>
              <li> <a href="{%static 'faxat/print_fax.mp4' %}"> الاطلاع على نص الفاكس وطباعة الفاكس من المنظومة باستخدام متصفح جوجل او فير فوكس </a> </li>
              <li> <a href="{%static 'faxat/how_to_know.mp4'%}">كيف يعرف فرع التخطيط / السيد المدير / السيد النائب  اذا اطلع الفرع المرسل له الفاكس على نص الفاكس </a> </li>
              <li> <a href="{%static 'faxat/how_to_know_2.mp4'%}"> تقرير كفاءة الافرع طبقا للفاكسات التى تم الرد عليها </a> </li>
                <br><br>
              <li> جارى تسجيل  بقية الفديوهات</li>
              <li> <a href="#"> الفرق بين الافرع المرسل لها الفاكس والافرع المنوطة بالرد </a> </li>
              <li> <a href="#">  انواع الفاكسات  والاجراءات المطلوبة على كل منها </a> </li>
              <li> <a href="#" > متابعة السيد المدير / السيد النائب / فرع التخطيط للفاكسات المرسلة لافرع المنطقة  </li>
              <li> <a href="#" >مهام فرع التخطيط </li>
            </ol>
        </h4>
    </div>

     


      <script src="{% static 'faxat/bootstrap-4.3.1-dist/js/bootstrap.min.js' %}" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>


</body>
</html>
