{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>منطقة تجنيد وتعبئة الزقازيق::منظومة الفاكسات::</title>
    <link rel="stylesheet" href="{% static 'faxat/bootstrap-4.3.1-dist/css/bootstrap.min.css' %}" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src= "{% static 'faxat/jquery-3.4.1.min.js' %}"></script>
    <script src="{% static 'faxat/push.js' %}"></script>
    <script src="{% static 'faxat/refresh.js' %}"></script>
    <link rel="stylesheet" href="{% static 'faxat/style.css' %}" >
  </head>
<body>

    <nav class="navbar navbar-dark bg-dark" style="direction:rtl">
        <h4 style="direction:rtl" class="text-center text-light">وزارة الدفاع <br> هيئة التنظيم والادارة <br> ادارة التجنيد و التعبئة</h4>
        <h4 style="direction:ltr" class="text-center text-light">منطقة تجنيد وتعبئة الزقازيق <br> فرع النظم <br> منظومةالفاكسات الجديدة</h4>
    </nav>
    <div style="padding: 10px; width: 50%; " align='center' class="container">
          <div style="padding: 10px; width: 30%;" align='left' class="container">
            <a href="../takt" class="btn btn-info" style="margin: 10px; width:100%;">رجوع</a>
          </div>
    </div>
      <div style="padding: 20px; width: 90%; margin-left: 5%" align='center'  direction:rtl>
      <h4 class="text-center"> الفاكسات التى لم يتم التصديق عليها بعد</h4>
      <table class="table table-primary table-info" style="direction:rtl">
          <thead>
            <tr>
                <th scope="col"> مسلسل </th>
              <th scope="col">رقم الصادر</th>
              <th scope="col">رقم صادر الادارة</th>
              <th scope="col">عنوان الفاكس</th>
              <th scope="col">مصدق عليه من قبل</th>
              <th scope="col">تاريخ الوصول</th>
              <th scope="col">حــــذف</th>
              <th scope="col">توجيه الفاكس الى السيد المدير</th>
              <!-- <th scope="col">تاريخ التصديق عليه</th> -->
              <!-- <th scope="col">مشاهدة الفاكس</th> -->
            </tr>
          </thead>
          <tbody>
            {% for fax in faxes %}
            <tr>
              <td>{{forloop.counter}}</td>
              <td>{{ fax.sader }}</td>
              <td>{{ fax.sader_edara }}</td>
              <td>{{ fax.title }}</td>
              <td style="color:blue;">{{ fax.approved_id }}</td>
              <td style="direction:rtl;">{{ fax.date_added|date:"SHORT_DATE_FORMAT"}} {{fax.date_added|time:"h:i a"}}</td>
              <td>
              {% if fax.approved == 0 %}
                    <a class="btn btn-sm btn-danger" href="{% url 'delete-fax' fax_id=fax.id%}" role="button">حذف</a>
              {% endif %}
            </td>
              <td>
              {% if fax.approved == 0 %}
                    <a class="btn  btn-sm btn-warning" href="{% url 'forward-fax-to-manager' fax_id=fax.id%}" role="button">توجيــه الفاكــس الى السيد المديــر ؟!</a>
              {% endif %}
            </td>
            <td>
              {% if fax.approved == 1 %}
                    <a class="btn  btn-sm btn-brown" href="{% url 'backward-fax-to-vice-manager' fax_id=fax.id%}" role="button">اعادة الفاكس الى السيد النائب ؟!</a>
              {% endif %}
            </td>
              <!-- <td style="direction:ltr;">{{ fax.date_aproved|date:"SHORT_DATE_FORMAT"}} {{fax.date_aproved|time:"h:i a"}}</td> -->

              <!-- <td>
                  <a class="btn btn-success" href="{% url 'viewfax-page' fax_id=fax.id %}" role="button">مشاهدة</a>
              </td> -->
            </tr>

            {% endfor %}

          </tbody>
        </table>
    </div>
      <script src="{% static 'faxat/bootstrap-4.3.1-dist/js/bootstrap.min.js' %}" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>
